* {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000;
}

body {
    background-color: beige;
}

header {
    background-image: url(images/book-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2%;
    position: relative;
}

h1 {
    padding: 6em;
    color: #fff;
    font-size: 30px;
}

main {
    margin: 30px;

}

p {
    font-size: 20px;
    margin: 5%;
}

.form {
    text-align: center;
    background-color: red;
}

footer {
    position: absolute;
    bottom: 2%;
    right: 50%;
}