* {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000;
}

body {
    background-color: beige;
}

header {
    background-image: url(images/book-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 8rem;
}

header h1 {
    color: #fff;
    font-size: 60px;
    text-shadow: 4px 4px #000;
}

main {
    margin: 30px;
    height: 500px;
}

main>.comp {
    padding-top: 80px;
}

main>.comp>h2 {
    margin: 2rem 0;
}

/* Form Section */

.form {
    text-align: center;
}

.form input[type=text] {
    width: 400px;
    padding: 10px;
    text-align: left;
}

/* Search Button */

.btn {
    padding: 10px;
    margin: 1rem;
    border-radius: 15%;
    background-color: #553939;
    color: #fff;
}

/* Footer Section */

footer {
    height: 20px;
}

footer>.footer-copyright-wrapper {
    margin-bottom: 20px;
}